/* common CSS Start  */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    
}
/* common CSS End  */

/* header css Start  */
.header-area{
    padding: 10px 0;
    border-bottom: 2px solid #EFF1F4;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    color:#0F2656 ;
    margin-right: 20px;
}
.menu ul li:last-child a{
    margin-right: 0;
}

/* header css End  */

/* hero section Start  */
.hero{
    padding: 70px 0 100px 0;
    
}
.hero-content{
    text-align: center;
}
.hero-content h1{
    width: 53%;
    color: #0F2656;
    margin: 0 auto;
    font-size: 45px;
}
.hero-content span{
    color: #008AFF;
   
}
.hero-content p{
    width: 55%;
    padding-top: 10px;
    line-height: 30px;
    margin: 0 auto;
}

/* hero section End  */

/* project section Start  */
.project{
    padding-bottom: 70px;
}
.project-wrapper{
    display: flex;
    gap: 20px;
    padding-bottom: 80px;

}
.project-counter{
    width: 50%;
    text-align: end;
    margin: 0 auto;
}
.project-counter h2{
    color: #F15767;
    font-size: 40px;
}
.project-counter p{
    line-height: 23px;
    padding-left: 250px;
}
.project-text{
    width: 50%;
    text-align: start;

}
.project-text h2{
    color: #0F2656;
    font-size: 45px;
    width: 60%;
}

.project-card-wrapper{
    display: flex;
    gap: 26px;
    font-family: sans-serif;
}
.card-item-img img{
    width: 100%;
}
.project-card-item{
    padding: 0 20px 45px 20px;
}
.project-card-item h3{
    color: #0F2656;
    margin-bottom: 10px;
}
.project-card-item p{
    color: #0F2656;
    line-height: 24px;
}
.card-one{
    background-color: #FEEBEF;
}
.card-two{
    background-color: #EBF9F4;
}
.card-three{
    background-color: #FFF7E8;
}

/* project section end  */
/* footer section Start  */
.footer-area{
    font-family: sans-serif;
    background-color: #008AFF;
}
.footer-text{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text p{
    color: rgb(228, 223, 223);
}
.footer-text span{
    font-weight: 800;
    color: #FFF7E8;
}
/* footer section End  */